<% if (viewsArchitecture.some(directory => directory.startsWith('abstracts'))) { -%>
include ../_abstracts/index



<% } -%>
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover")
    title <%= project %>
    block styles
      <%_ if (styles) { -%>
      link(href="/assets/styles/main.css" rel="stylesheet")
      <%_ } -%>
    block scripts-head

  body
    block body

    block scripts
      <%_ if (scripts) { -%>
      script(src="/assets/scripts/main.js" type="module")
      <%_ } -%>
