<% if (stylesArchitecture.includes('abstracts/settings')) { -%>
@use "abstracts" as *



<% } -%>
/*
 * =============================================================================
 * base/base
 * =============================================================================
 */

// 1. Prevent adjustments of font size after orientation changes in iOS.
// 2. Change the default tap highlight to be completely transparent in iOS.
// 3. Remove the margin in all browsers.
// 4. Set an explicit initial text-align value so that we can later use the the `inherit` value on things like `<th>` elements.

*,
*::before,
*::after
  box-sizing: inherit

html
  box-sizing: border-box
  <%_ if (stylesArchitecture.includes('abstracts/settings')) { -%>
  font: $fw-body #{$fs-body}/#{$lh-body} $font-stack
  <%_ } else {-%>
  font: 400 16px/1.5 system-ui, -apple-system, sans-serif
  <%_ } -%>
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  -webkit-text-size-adjust: 100% // [1]
  -webkit-tap-highlight-color: transparent // [2]

body
  color: var(--color-text)
  background: var(--color-background)
  margin: 0 // [3]
  text-align: left // [4]
