// =============================================================================
// Colors
// =============================================================================

// Neutrals
// -----------------------------------------------------------------------------
$black: #000;
// Grays go here.
$white: #fff;


// Colors
// -----------------------------------------------------------------------------
$red: #f00;
// Other colors go here.



// =============================================================================
// Typography
// =============================================================================

// Stacks
// -----------------------------------------------------------------------------
$system-stack: system-ui, -apple-system, sans-serif;


// Sizes
// -----------------------------------------------------------------------------
$font-size-16: 16px;


// Line Heights
// -----------------------------------------------------------------------------
$line-height-1-5: 1.5;


// Weights
// -----------------------------------------------------------------------------
$font-weight-400: 400;
