@use "../tokens" as *;



// =============================================================================
// abstracts/settings/base/colors
// =============================================================================

$color-text: $black;

$color-background: $white;

$color-primary: $red;
