@use "../tokens" as *;



// =============================================================================
// abstracts/settings/base/colors
// =============================================================================

$color-text: $neutral-0;

$color-background: $neutral-100;

$color-primary: $red;
