@use "../tokens" as *;



// =============================================================================
// abstracts/settings/base/typography
// =============================================================================

$fs-body: $font-size-16;

$lh-body: $line-height-1-5;

$fw-body: $font-weight-400;

$font-stack: $system-stack;
