//- ============================================================================
//- abstracts/index
//- ============================================================================
<% if (viewsArchitecture.includes('abstracts/settings')) { -%>

//- Settings
//- ----------------------------------------------------------------------------
<% } -%>
<% if (viewsArchitecture.includes('abstracts/functions')) { -%>


//- Functions
//- ----------------------------------------------------------------------------
<% } -%>
<% if (viewsArchitecture.includes('abstracts/mixins')) { -%>


//- Mixins
//- ----------------------------------------------------------------------------
<% if (symbols) { -%>
include mixins/symbol
<% } -%>
<% } -%>
