@use "index" as *;



// ========================================================
// Colors
// ========================================================

$color-text: $black;

$color-background: $white;

$color-primary: $red;


// ========================================================
// Typography
// ========================================================

$fs-body: $font-size-m;

$lh-body: $line-height-m;

$fw-body: $font-weight-m;

$font-stack: $system-stack;
