// ========================================================
// Colors
// ========================================================

// Neutrals
// ----------------------------
$black: #000;

// Grays go here.

$white: #fff;


// Colors
// ----------------------------
$red: #f00;
// Other colors go here.



// ========================================================
// Typography
// ========================================================

$system-stack: system-ui, -apple-system, sans-serif;

$font-size-m: 16px;

$line-height-m: 1.5;

$font-weight-m: 400;
