<% if (viewsSevenOnePattern.includes('layout')) { -%>
extends _layout/base



block body
  h1 Welcome to <%= project %>!
<% } else { -%>
<% if (viewsSevenOnePattern.some(directory => directory.startsWith('abstracts'))) { -%>
include _abstracts/index


<% } -%>
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover")
    title <%= project %>
    <%_ if (styles) { -%>
    link(href="/assets/styles/main.css" rel="stylesheet")
    <%_ } -%>

  body
    h1 Welcome to <%= project %>!
    <%_ if (scripts) { -%>

    script(src="/assets/scripts/main.js")
    <%_ } -%>
<% } -%>
